body {
  margin: 0;
  padding: 0;
}

#mapCanvas {
  width: 60vw;
  height: 60vh;
}

.bus-marker {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffd500;
  border-radius: 50%;
  border: 2px solid #000;
}

.bus-stop-marker {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff0040;
  border-radius: 50%;
  border: 2px solid #000;
}

.bus-label {
  color: #000;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}
